<div class="apps-title">Step 2: Select Computer to Install</div>

<div class="custom-search-wrapper mb-3">
    <i class="bi bi-search custom-search-icon"></i>
    <input type="text" id="customSearchInput" class="form-control custom-search-input" placeholder="Search " />
</div>

<div id="computerGridWrapper">
  <div id="computerGrid"></div>
</div>
