<div class="apps-title">Step 3: First time install</div>

<div class="d-flex align-items-center">
    <div id="selectedComputerGridWrapper" class="flex-grow-1 me-3">
        <div id="selectedComputerGrid"></div>
    </div>

    <button type="button" class="btn btn-outline-primary installBtn" id="installBtn">
        Install
    </button>
</div>
