<div class="apps-title">Step 2: Select Computer to Install</div>

<div class="custom-search-wrapper mb-3 position-relative">
    <i class="bi bi-search custom-search-icon"></i>
    <input type="text" id="customSearchInput" class="form-control custom-search-input" placeholder="Search" />
    <span id="clearSearchInput" class="clear-search-icon" style="display: none;">&times;</span>
</div>


<div id="computerGridWrapper">
  <div id="computerGrid"></div>
</div>
