<div class="modal fade" id="createCustomAppsModal" tabindex="-1" role="dialog" aria-labelledby="createCustomAppsModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-custom-large" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header d-flex justify-content-between align-items-center">
                <div class="modal-title-wrapper d-flex align-items-center">
                    <h5 class="modal-title mb-0" id="customModal3Label">Set Up Custom App</h5>
                    <i class="bi bi-info-circle info-icon ms-2"></i>
                </div>
                <button type="button" class="btn-close" aria-label="Close"></button>
            </div>

            <div class="modal-body d-flex p-0">

                <div class="step-sidebar d-flex flex-column justify-content-between">
                    <div>
                        <div class="apps-title">Create New Custom App Package</div>
                        <ul class="nav flex-column step-list">
                            <li class="step-item active" data-step="1">Step 1: Specify Custom App Details</li>
                            <li class="step-item" data-step="2">Step 2: Select Computer to Install</li>
                            <li class="step-item" data-step="3">Step 3: First time install</li>
                        </ul>
                    </div>
                </div>

                <div class="step-content flex-grow-1 d-flex flex-column">

                    <div class="step-panel active flex-grow-1" data-step="1">
                        @await Html.PartialAsync("_CreateCustomAppStep1")
                    </div>

                    <div class="step-panel d-none" data-step="2">
                        @await Html.PartialAsync("_CreateCustomAppStep2")
                    </div>
                    <div class="step-panel d-none" data-step="3">
                        @await Html.PartialAsync("_CreateCustomAppStep3")
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center py-3 px-3" style="flex-shrink: 0;">
                <button type="button" class="btn cancel-btn btn-outline-primary">
                    CANCEL
                </button>
                <button type="button" class="btn next-btn btn-outline-primary">
                    NEXT
                </button>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 9999">
    <div id="appInstallInitiatedToast" class="toast align-items-center text-bg-primary border-0" role="alert"
         aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <i class="bi bi-check-circle me-2"></i>App installation initiated.
            </div>
        </div>
    </div>
</div>


<div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 9999">
    <div id="appInstalledToast" class="toast align-items-center text-bg-primary border-0" role="alert"
         aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <i class="bi bi-check-circle me-2"></i>App Installed.
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="confirmInstallAppModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmInstallAppModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">

    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header delete-header">
                <h6 class="modal-title" id="confirmInstallAppModalLabel">Confirm Install App </h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>Are you sure you want to install this Application ?</p>

                <div class="d-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-sm btn-primary me-1 install-btn" id="confirmInstallBtn"
                            data-bs-dismiss="modal">
                        INSTALL
                    </button>

                    <button type="button" class="btn btn-sm btn-primary del-btn" data-bs-dismiss="modal">CANCEL</button>

                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_TalkSpecialist")

<!-- Confirm Cancel Modal -->
<div class="modal fade" id="confirmCancelAppModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmCancelAppModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">

    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header delete-header">
                <h6 class="modal-title" id="confirmCancelAppModalLabel">Abort custom app setup confirm </h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>Are you sure you want to abort this custom app setup ?</p>

                <div class="d-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-sm btn-primary me-1" id="confirmCancelBtn"
                            data-bs-dismiss="modal">
                        YES
                    </button>

                    <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">NO</button>
                </div>
            </div>
        </div>
    </div>
</div>
