<div class="apps-title">Step 1 : Specify Custom App Details</div>

<form id="createCustomAppForm">
    <div class="container-fluid">
        <!-- Package Name -->
        <div class="form-group row">
            <label for="createAppPackageName" class="col-sm-4 col-form-label font-weight-bold">Package
                Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Package Name" id="createAppPackageName" name="createAppPackageName" />
            </div>
        </div>

        <!-- Enter URL -->
        <div class="form-group row">
            <label for="createAppURL" class="col-sm-4 col-form-label font-weight-bold">Enter URL</label>
            <div class="col-sm-8">
                <input type="url" class="form-control" id="createAppURL" placeholder="Start with http://, https:// " name="createAppURL" />
            </div>
        </div>

        @* <div class="form-group row">
            <div class="col-sm-4"></div>
            <div class="col-sm-7">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="createAppExtractCheckbox" />
                    <label class="form-check-label" for="createAppExtractCheckbox">
                        Extract compressed file and run executable
                    </label>
                </div>
            </div>
        </div> *@

        <!-- Architecture -->
        <div class="form-group row">
            <label for="createAppArchitecture" class="col-sm-4 col-form-label font-weight-bold">Architecture</label>
            <div class="col-sm-4">
                <select class="form-select form-control" id="createAppArchitecture" name="createAppArchitecture">
                    <option value="32-bit">32-bit</option>
                    <option value="64-bit">64-bit</option>  
                    <option value="32 and 64 bit" selected>32 and 64 bit</option>
                </select>
            </div>
        </div>

        <!-- Install Command -->
        <div class="form-group row" style="padding:5px 15px 0px 10px ">
            <label for="createAppInstallCmd" class="col-sm-4 col-form-label font-weight-bold">Install Command
                Line</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="createAppInstallCmd" placeholder="Install Command Line" name="createAppInstallCmd" />  
            </div>
        </div>


        <div class="form-group-helper row">
            <label class="col-sm-4"></label>
            <div class="col-sm-8 commandHelperContainer">
                <small class="form-text text-muted commandHelper">
                    Please exclude /i and /qn for MSI Installers.
                </small>
            </div>
        </div>


        <!-- Uninstall Command -->
        <div class="form-group row" style="padding:5px 15px 0px 10px">
            <label for="createAppUninstallCmd" class="col-sm-4 col-form-label font-weight-bold">Uninstall
                Command Line</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="createAppUninstallCmd" placeholder="Uninstall Command Line" name="createAppUninstallCmd" />
            </div>
        </div>

        <div class="form-group-helper row">
            <label class="col-sm-4"></label>
            <div class="col-sm-8 commandHelperContainer">
                <small class="form-text text-muted commandHelper">
                    Request Silent install/uninstall assistance
                    <span id="talkToSpecialist" class="text-primary" role="button" style="cursor: pointer;">
                        Talk to a Deployment Specialist.
                    </span>
                </small>
            </div>
        </div>
        <!-- Restart -->
        <div class="form-group row">
            <label for="createAppRestart" class="col-sm-4 col-form-label font-weight-bold">Restart</label>
            <div class="col-sm-4">
                <select class="form-select form-control" id="createAppRestart" name="createAppRestart">
                    <option value="Yes">Always</option>
                    <option value="Not Set" selected>Not Set</option>
                </select>
            </div>
        </div>

        <!-- Timeout -->
        <div class="form-group row">
            <label for="createAppTimeout" class="col-sm-4 col-form-label font-weight-bold">Install
                Timeout</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="createAppTimeout" name="createAppTimeout"
                       placeholder="10" min="0" />

            </div>
        </div>

        <!-- Row 8 -->
        <div class="form-group row">
            <label for="createAppRunAs" class="col-sm-4 col-form-label">Run As</label>
            <div class="col-sm-8">
                <select class="form-select form-control" id="createAppRunAs" name="createAppRunAs">
                    <option value="System">System Account</option>
                    <option value="User">Specified User Account</option>
                </select>
            </div>
        </div>

        <!-- User Credentials Fields (Toggle based on RunAs) -->
        <div id="createAppUserCredentialsFields" style="display: none;">

            <div class="form-group row">
                <label class="col-sm-4"></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="createAppUserLoginId" name="createAppUserLoginId"
                           placeholder="Login ID"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4"></label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="createAppUserPassword" name="createAppUserPassword"
                           placeholder="Password"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4"></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="createAppUserDomain" name="createAppUserDomain"
                           placeholder="Domain" />
                </div>
            </div>
        </div>
    </div>
</form>