
<div class="table-header d-flex justify-content-between align-items-center flex-wrap mb-3">
    <div class="d-flex gap-2">
        
        <div class="dropdown">
            <button class="icon-btn btn-sm border-0 dropdown-toggle d-flex align-items-center gap-1 px-2 py-1"
                type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 0.75rem;">
                <i class="bi bi-funnel-fill"></i> Filters
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" style="font-size: 0.75rem;">
                <li><a class="dropdown-item" href="#">All Devices</a></li>
                <li><a class="dropdown-item" href="#">Online</a></li>
                <li><a class="dropdown-item" href="#">Offline</a></li>
            </ul>
        </div>

        <div class="dropdown">
            <button class="icon-btn btn-sm border-0 dropdown-toggle d-flex align-items-center gap-1 px-2 py-1"
                type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 0.75rem;">
                <i class="bi bi-table"></i> Groups
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" style="font-size: 0.75rem;">
                <li><a class="dropdown-item" href="#">Default Group</a></li>
                <li><a class="dropdown-item" href="#">QA Group</a></li>
                <li><a class="dropdown-item" href="#">Staging</a></li>
            </ul>
        </div>

        <button class="icon-btn btn-sm border-0 d-flex align-items-center gap-1 px-2 py-1"
            style="font-size: 0.75rem;">
            <i class="bi bi-search"></i> Search
        </button>
    </div>

    <div class="d-flex align-items-center gap-1">
        <div class="dropdown">
            <button
                class="icon-btn btn-sm border-0 dropdown-toggle d-flex align-items-center gap-1 px-2 py-1 rounded"
                type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 0.75rem;">
                <i class="bi bi-layout-three-columns"></i> Columns
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Installed Apps</a></li>
                <li><a class="dropdown-item" href="#">Outdated Apps</a></li>
                <li><a class="dropdown-item" href="#">Group</a></li>
                <li><a class="dropdown-item" href="#">Tags</a></li>
            </ul>
        </div>
        <button class="btn btn-sm ">
            <i class="bi bi-gear"></i>
        </button>
        <button class="btn btn-sm ">
            <i class="bi bi-fullscreen"></i>
        </button>
    </div>
</div>